<!DOCTYPE html>
<html lang="en">
  <head>
	<!-- References a Handlebars partial in views/partials/head.handlebars -->			
	{{>head}}
  </head>

  <body>
  		<!-- Load navbar-->
  		{{>navbar}}
  		<main role="main" class="container">
  			<div class="jumbotron">
  				<div class="alert" role="alert" style="display:none"></div>
			<!-- Load view page  -->
				{{{body}}} 
			</div>
		</main><!-- /.container -->


	</div>

	{{>bootstrap_footer}}
    
  </body>
</html>
