<h3>Add Store</h3>
<form>
 	<div class="form-group">
		<label for="storeNumber">Store Number</label>
    	<input type="text" class="form-control" id="storeNumber"  placeholder="Store Number">
	</div>
	<div class="form-group">
		<label for="streetAddress">Street Address</label>
		<input type="text" class="form-control" id="streetAddress"  placeholder="Street Address">
	</div>
	<div class="form-group">
		<label for="city">City</label>
		<input type="text" class="form-control" id="city"  placeholder="City">
	</div>
	<div class="form-group">
		<label for="province">Province</label>
		<input type="text" class="form-control" id="province"  placeholder="Province">
	</div>
	<div class="form-group">
		<label for="postalCode">Postal Code</label>
		<input type="text" class="form-control" id="postalCode"  placeholder="Postal Code">
	</div>
	<div class="form-group">
		<label for="manager">Manager</label>
		<input type="text" class="form-control" id="manager"  placeholder="Manager">
	</div>
	<div class="form-group">
		<label for="phoneNumber">Phone Number</label>
		<input type="text" class="form-control" id="phoneNumber"  placeholder="Phone Number">
	</div>
	<div>
 		<button type="button" id ="addStore" class="btn btn-primary">Submit</button>
 	</div>
</form>
<br />
<!--form>
  	<div class="form-group">
    	<label for="fileUpload">File Upload</label>
    	<input type="file" class="form-control-file" id="fileUpload">
  	</div>
 	<div>
  		<button type="button" id ="uploadStores" class="btn btn-primary">Upload</button>
  	</div>
</form-->
<script  type="text/javascript">
	$("#addStore").click(function() { 
		var store = {};
		
		store.storeNumber= $('#storeNumber').val();
		store.address={};
		store.address.streetAddress= $('#streetAddress').val();
		store.address.city= $('#city').val();
		store.address.province= $('#province').val();
		store.address.postalCode= $('#postalCode').val();
		store.manager= $('#manager').val();
		store.phoneNumber= $('#phoneNumber').val();

		$.ajax({
			url: "/store_add", 
			type: "POST",
			contentType: 'application/json',
			data: JSON.stringify(store),
			success: function(result) {
				//Redirect the user to the cmpleted order
				//console.log("AJAX success: " + result);
				if(result=="added"){	
					$('.alert').removeClass("alert-danger");
					$('.alert').addClass("alert-success");
					$('.alert').show();
					$('.alert').html("Added");
					$('#storeNumber').val("");
					$('#streetAddress').val("");
					$('#city').val("");
					$('#province').val("");
					$('#postalCode').val("");
					$('#manager').val("");
					$('#phoneNumber').val("");
				} else {
					$('.alert').removeClass("alert-success");
					$('.alert').addClass("alert-danger");
					$('.alert').show();
					$('.alert').html("Store is already in the system");
				}
			}
		});
	});

	/**$("#uploadStores").click(function() { 

		$('#fileUpload').parse({
		config: {
			delimiter: "auto",
	
		},
		before: function(file, inputElem)
		{
			//console.log("Parsing file...", file);
		},
		error: function(err, file)
		{
			//console.log("ERROR:", err, file);
		},
		complete: function()
		{
			//console.log("Done with all files");
		}
		/**console.log("click upload stores");

		var fd = new FormData();
		
		//console.log($("#fileUpload").length > 0);
		console.log($("#fileUpload").prop('files').length);

		if($("#fileUpload").prop('files').length == 1){
			file = $("#fileUpload").prop('files')[0];
			
			fd.append("stores", file);

			$.ajax({
				url: "/stores_add", 
				type: "POST",
				data: fd, 
				processData: false,
				contentType: false,
				success: function(result) {
					//Redirect the user to the cmpleted order
					console.log("AJAX success: " + result);
					
				}
			});
			
		}

		//fd.append('file', $("#fileUpload").files[0]);

		console.log("end click upload stores");
	});
		
	});**/
</script>