<h3>View Store</h3>
<div class="selectState">
	<h5>Select Store </h5>
	<select id="storeList" class="custome-select col-12">
		<option selected>Select a Store</option>
	</select>
</div>

<div class="selectedStore" style="display:none">
	<table id="storeTable" class="table col-12 w-auto">
		<tbody id="tableBody"></tbody>
	</table>
	 <div>
  		<button type="button" id ="editStore" class="btn btn-primary">Edit</button>
  		<button type="button" id ="saveStore" class="btn btn-primary" style="display:none">Save</button>
  	</div>
</div>




<script>
	$( document ).ready(function() {
    	$.ajax({
			url: '/stores_list', 
			type: 'GET',
			contentType: 'application/json',
			success: function(result) {
				result.forEach(createStoreList);
			}
		});
	});

	function createStoreList(item){
		$("#storeList").append("<option value='" + item.storeNumber + "'>" + item.storeNumber + " - "+ item.address.streetAddress + "</option>");
	};

	$("#storeList").change(function(){
		$.ajax({
			url: '/store/'+ $('#storeList').val(), 
			type: 'GET',
			contentType: 'application/json',
			success: function(result) {

				$('.selectedStore').show();

				var table = document.getElementById('storeTable');
				clearTable(table);

				var tableBody = document.getElementById('tableBody');
				buildTable(tableBody, result);




				/*console.log("Store Number" + result.storeNumber);
				console.log("Store streetAddress" + result.address.streetAddress);
				console.log("Store City" + result.address.city);
				console.log("Store Province" + result.address.province);
				console.log("Store PostalCode" + result.address.postalCode);
				console.log("Store Manager" + result.manager);
				console.log("Store phoneNumber" + result.phoneNumber);*/
			}
		});
	});

	function buildTable(tableBody, result){
		$('#editStore').show();
		$('#saveStore').hide();

		var headers = ['Store Number', 'Street Address', 'City', 'Province', 'Postal Code' , 'Manager', 'Phone Number'];
		var  values = [result.storeNumber, result.address.streetAddress, result.address.city, result.address.province, result.address.postalCode, result.manager, result.phoneNumber];
		var row;

		for(var i = 0; i < headers.length; i++){
			row = tableBody.insertRow(-1);
			row.insertCell(0).innerHTML = headers[i];
			row.insertCell(1).innerHTML = values[i];
		}

	};
	function clearTable(table){
		if(table.rows.length > 0){
			while(table.rows.length > 0){
				table.deleteRow(0);
			}
								
		}
	};
	$("#editStore").click(function() { 

		$('#editStore').hide();
		$('#saveStore').show();
		var table = document.getElementById('tableBody');
		var oldValue;
		for(var i = 0; i < table.rows.length ; i++){

			oldValue = table.rows[i].cells[1].innerHTML;
			if(i == 0){
	table.rows[i].cells[1].innerHTML = '<input class="form-control" type="text" value="' + oldValue + '" placeholder="' + oldValue + '" readonly>';
			}else {
				table.rows[i].cells[1].innerHTML = '<input class="form-control" type="text" value="' + oldValue + '"placeholder="' + oldValue + '">';
			}
			
		}
	});

	$("#saveStore").click(function(){
		var table = document.getElementById('tableBody');
		var newValues = [];

		for (var i = 0 ; i < table.rows.length ; i++){
			newValues.push(table.rows[i].cells[1].firstChild.value);
		}
		var store = {};
		
		store.storeNumber= newValues[0];
		store.address={};
		store.address.streetAddress= newValues[1];
		store.address.city= newValues[2];
		store.address.province= newValues[3];
		store.address.postalCode= newValues[4];
		store.manager= newValues[5];
		store.phoneNumber= newValues[6];

		$.ajax({
			url: "/store_edit", 
			type: "PUT",
			contentType: 'application/json',
			data: JSON.stringify(store),
			success: function(result) {
				if(result == "updated"){
					var table = document.getElementById('storeTable');
					clearTable(table);
					var tableBody = document.getElementById('tableBody');
					buildTable(tableBody, store);
				}else {
					console.log('error updated store')
				}
			}
		});
	});

</script>